@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
/*===== VARIABLES CSS =====*/

:root {
	--column-gap: 100px;
	--column-gap-large: 120px;
	--header-height: 3rem;
	/*========== COLORS ==========*/
	--first-color: #ff614d;
	--first-color-second: #e06757;
	--first-color-alt: #cb5343;
	--first-color-lighter: #e06757;
	--first-color-lighter-dark: #292523;
	--title-color: #292523;
	--text-color: #7c706a;
	--text-color-light: #ada39f;
	--input-color: #fcf2ee;
	--body-color: #fefcfb;
	--container-color: white;
	--white-color: var(--container-color);
	--black-color: black;
	--gray-dark: #85878A;
	/*========== FONT & TYPORGRAPHY ==========*/
	--body-font: 'Poppins', sans-serif;
	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== FONT WEIGHT ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	/*========== MARGINS ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	/*========== Z INDEX ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 5rem;
		--bigger-font-size: 4rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== BASE ==========*/

*, ::before, ::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	padding: 0;
	background-color: var(--body-color);
	font-size: var(--normal-font-size);
	color: var(--black-color);
	overflow-x: hidden;
}

h1, h2, h3, ul, p {
	margin: 0;
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

h4 {
	font-weight: var(--font-semi-bold);
	font-size: var(--h1-font-size);
	color: var(--text-color-light);
	margin: var(--mb-1-5) 0 0;
}

ul {
	padding: 0;
}

li {
	margin-left: 1rem;
}

li::marker {
	color: #D8D9D9;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*========== CLASS CSS ==========*/

.section__title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: var(--mb-1-5);
}

.key-value-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

label {
	display: block;
	color: var(--gray-dark);
	margin-bottom: 0.4em;
}

.list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/

.container {
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.main {
	padding: var(--mb-1);
}

.key-list-item .labeal {
	font-size: 1.01rem;
}

/*========== HEADER SECTION ==========*/

.profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.profile__image img {
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-bottom: var(--mb-1);
}

.profile__profession {
	margin-bottom: var(--mb-1);
}

.profession__title {
	font-size: var(--h1-font-size);
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.1;
	color: var(--first-color);
}

.profession__subtitle {
	font-size: var(--h3-font-size);
	margin: 0;
	color: var(--black-color);
	font-weight: 300;
}

.profession__title, .profession__subtitle, .profession__contact {
	text-align: center;
}

.profile__aboutme {
	margin: var(--mb-3) 0;
	text-align: center;
}

.location__info .item__value {
	font-weight: var(--font-semi-bold);
}

.url {
	font-size: small;
}

.item__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: var(--mb-1);
}

.headline-complex {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* margin-left: calc(-1 * var(--column-gap)); */
	margin-bottom: var(--mb-0-5);
	-webkit-column-gap: .5rem;
	-moz-column-gap: .5rem;
	column-gap: .5rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.headline-complex__title {
	margin-left: var(--mb-0-5);
	position: relative;
	font-size: 1.4rem;
	display: inline-block;
	color: var(--black-color);
	margin: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.headline-complex__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: flex-start;
	position: relative;
}

.headline-complex__subtitle {
	font-family: 'Zen Antique Soft', serif;
	font-style: italic;
}

.headline-complex__separator {
	background: var(--first-color);
	width: 2px;
	border-radius: 1px;
	-ms-flex-item-align: normal;
	-ms-grid-row-align: normal;
	align-self: normal;
}

.category-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: var(--mb-1);
	margin-bottom: 2.5em;
}

.category-item-title .item__value {
	font-size: var(--h3-font-size) !important;
	color: var(--black-color);
	font-weight: var(--font-semi-bold);
}

.headline-complex .item__value {
	font-size: 1rem;
}

.headline-complex .date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: -1rem;
}

.category-item-container {
	row-gap: var(--mb-0-75);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (min-width: 878px) {
	.main {
		margin: auto;
	}
	.profile {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.main .categories {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.categories .left {
		padding-right: var(--column-gap-large);
	}
	.left, .right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: var(--mb-2-5);
	}
	.headline-complex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-left: -5.25rem;
	}
	.experience .date, .project .date, .education .date {
		margin: 0 .5rem 0 0;
	}
	.section__title, #home__title, #home__subtitle, .profession__title, .profession__subtitle, .profession__contact {
		text-align: initial;
	}
}

@media print {
	.main {
		margin: auto;
	}
	.profile {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.main .categories {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.categories .left {
		padding-right: var(--column-gap-large);
	}
	.left, .right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: var(--mb-2-5);
	}
	.headline-complex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		margin-left: -5.25rem;
	}
	.experience .date, .project .date, .education .date {
		margin: 0 .5rem 0 0;
	}
	.section__title, #home__title, #home__subtitle, .profession__title, .profession__subtitle, .profession__contact {
		text-align: initial;
	}
}