/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*===== VARIABLES CSS =====*/

:root {
	--header-height: 3rem;
	/*========== COLORS ==========*/
	--first-color: #ff7a38;
	--first-color-second: #e08557;
	--first-color-alt: #cb7043;
	--first-color-lighter: #e08557;
	--first-color-lighter-dark: #292523;
	--title-color: #292523;
	--text-color: #7c706a;
	--text-color-light: #ada39f;
	--input-color: #fcf2ee;
	--body-color: #fefcfb;
	--container-color: white;
	--white-color: var(--container-color);
	--black-color: black;
	/*========== FONT & TYPORGRAPHY ==========*/
	--body-font: 'Poppins', sans-serif;
	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	/*========== FONT WEIGHT ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	/*========== MARGINS ==========*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	/*========== Z INDEX ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 5rem;
		--bigger-font-size: 4rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== BASE ==========*/

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	padding: 0;
	background-color: var(--body-color);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}

h1, h2, h3, ul, p {
	margin: 0;
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

h4 {
	font-weight: var(--font-semi-bold);
	font-size: var(--h1-font-size);
	color: var(--text-color-light);
	margin: var(--mb-1-5) 0 0;
}

ul {
	padding: 0;
}

li {
	margin-left: 1rem;
}

li::marker {
	opacity: .7;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*========== CLASS CSS ==========*/

.section {
	padding: 3rem 0;
}

.section__title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: var(--mb-1-5);
}

.key-value-item {
	display: flex;
	flex-direction: column;
}

.label {
	color: black;
	font-weight: var(--font-semi-bold);
}

.list {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/

.container {
	max-width: 968px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.main {
	padding: var(--mb-1);
}

.key-list-item .labeal {
	font-size: 1.01rem;
}
/*========== HOME SECTION ==========*/

.home .information {
	display: none;
	user-select: none;
}

.home__img {
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-bottom: var(--mb-1);
}

.homee__title {
	display: none;
}

.home__data {
	margin-bottom: var(--mb-1);
}

#home__title {
	font-size: var(--big-font-size);
	font-weight: 700;
	line-height: 1.1;
	color: var(--first-color);
}

#home__subtitle {
	font-size: var(--h3-font-size);
	margin: 0;
	font-weight: 300;
}

#home__title, #home__subtitle {
	text-align: center;
}

.home__container {
	margin-bottom: var(--mb-1);
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-0-5);
}

#home__website {
	color: var(--first-color);
	font-weight: var(--font-semi-bold);
}

#home__description {
	text-align: center;
}

/*========== EDUCATION SECTION ==========*/

#education-institution {
	color: var(--black-color);
	font-size: 1.05rem;
}

#education-area .key__info {
	color: var(--black-color);
}

.education__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1-5);
}

/*========== LOCATION SECTION ==========*/

.location__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-0-5);
}

#location__info .information {
	font-weight: var(--font-semi-bold);
}

#url {
	font-size: small;
}

/*========== CERTIFICATES & EDUCATION SECTION ==========*/

.certifications__container, .education__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1);
}

.certifications__card, .education__card {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-0-5);
}

#certificate-title .information, #certificate-issuer .information {
	color: var(--black-color);
	font-size: var(--h3-font-size);
}

.certifications__container #date .information {
	display: none;
}

.certifications__container #date {
	font-weight: 500;
	color: var(--black-color);
}

/*========== EXPERIENCE SECTION ==========*/

.box {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: var(--mb-0-5);
	column-gap: .5rem;
}

.experience .date label, .project .date label, .education .date label {
	display: none;
}

.experience .date {
	display: flex;
	flex-direction: column;
	margin-top: 1.1rem;
}

.project .date {
	display: flex;
	flex-direction: column;
}

.experience__title, .project__title {
	margin-left: var(--mb-0-5);
	position: relative;
	font-size: 1.4rem;
	display: inline-block;
}
.experience__title, .project__title, .education__title {
	color: var(--black-color);
}

.experience__title::before, .project__title::before {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	height: -webkit-fill-available;
	background: var(--first-color);
	width: 2px;
	border-radius: 1px;
}

#experience__description, #project__description {
	margin: var(--mb-1) 0 var(--mb-0-5);
}

/*========== AWARDS & VOLUNTEER SECTION ==========*/

.awards .information {
	display: none;
}

.awards__container, .references__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1);
}

#award-title, #volunteer-organization, #reference__description .information {
	font-size: var(--h3-font-size);
	color: var(--black-color);
	font-weight: var(--font-semi-bold);
}

#award-awarder, #volunteer-info, #experience__info .information, #reference-name .key__info {
	color: var(--black-color);
}

#awards__description, #volunteer__description, #reference__description {
	margin-top: var(--mb-0-5);
}

#volunteer__list {
	margin-top: var(--mb-1-5);
}

/*========== SKILLS SECTION ==========*/

#skill-info .information, #profiles__info .information {
	color: var(--black-color);
}

#skills__list {
	margin-top: var(--mb-0-5);
}

/*========== PUBLICATIONS SECTION ==========*/

.publications__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1);
}

.publications__card {
	row-gap: var(--mb-0-25);
	display: flex;
	flex-direction: column;
}

.publications__container .information {
	color: var(--black-color);
	font-weight: 500;
}

/*========== LANGUAGE SECTION ==========*/

.languages__container {
	display: flex;
	flex-direction: column;
	row-gap: var(--mb-1);
}

#language-language .key__info {
	color: var(--black-color);
	font-weight: 500;
}

@media screen and (min-width: 668px) {
	.main {
		display: grid;
		margin: auto;
		grid-template-columns: repeat(2, 1fr);
	}
	.home {
		grid-column: 1/3;
	}
	.box1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 3rem;
	}
	.profiles {
		grid-column: 1/2;
	}
	.experience {
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.experience .date, .project .date, .education .date {
		margin-right: .5rem;
	}
	.section__title{
		text-align: initial;
	}
}